# requirements.txt
async-lru==2.0.2
aiofiles
aiohttp
beautifulsoup4
bs4
certifi==2023.5.7
charset-normalizer==3.1.0
cloudscraper
datetime
ffmpeg==1.4
Flask==1.1.2
gunicorn==20.1.0
idna==3.4
itsdangerous==2.0.1
Jinja2==3.0.3
m3u8
motor
mutagen==1.46.0
pyaes==1.6.1
pycryptodome==3.18.0
pyrogram
pyromod==1.5
PySocks==1.7.1
python-dotenv==1.0.0
python-telegram-bot==20.3
pytube==15.0.0
pytz
pywidevine
requests==2.31.0
soupsieve==2.4.1
speedtest-cli
TgCrypto==1.2.5
umongo==3.1.0
urllib3==2.0.3
websockets==11.0.3
werkzeug==2.0.2
youtube-dl
yt-dlp==2025.01.26
